/* Common styles */

:root {
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000000;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-family: 'Play', 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: .2s;

  &:hover {
    color: $main;
  }
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  background-image: url('../img/main/bg.jpg');
  background-repeat: no-repeat;
  background-size: 1440px;
  background-position: bottom right;

  @include retina {
    background-image: url('../img/main/bg@2x.jpg');
  }

  @media (max-width: 1199px) {
    background-size: 1000px;
  }

  @media (max-width: 590px) {
    background-size: contain;
    background-image: url('../img/main/bg-small.jpg');

    @include retina {
      background-image: url('../img/main/bg-small@2x.jpg');
    }
  }
}

.footer {
  flex: 0 0 auto;
}

.top-index {
  z-index: 99999;
}

.none-break {
  white-space: nowrap;
}



/* Transition animation */

body.fixed {
  overflow-y: hidden;
}

.hidden {
  display: none !important;
}

.transition.hidden {
  display: block !important;
  opacity: 0 !important;
}

.transition {
  opacity: 1 !important;
  transition: .3s ease !important;
}



/* Buttons */

.btn {
  width: fit-content;
  display: block;
  min-width: 192px;
  padding: 1.125rem 1.25rem;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Play', 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: $main;
  border: none;
  box-sizing: border-box;
  transition: .2s;
  cursor: pointer;

  &:hover {
    color: #FFFFFF;
    box-shadow: none;
    opacity: .8;
  }

  @media (max-width: 1199px) {
    padding: 1rem;
  }
}



/* Inputs */

.input {
  width: 100%;
  padding: 1.1rem;
  font-size: 1rem;
  border: 1px solid transparent;
  background: #FFFFFF;
  box-sizing: border-box;
  outline: none;
  transition: .2s;

  &:hover {
    border: 1px solid #949494;
  }

  &:focus {
    border: 1px solid $main;
  }

  @media (max-width: 590px) {
    padding: .8rem;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::placeholder {
  color: #000000;
}