@media (max-width: 991px) {
  .header {
    .container {
      padding: 0 0 0 1.25rem;
    }

    &__cont {
      padding: 0;
    }

    .logo {
      max-width: 2.813rem;
    }

    .burger-btn {
      display: flex;
    }

    .burger-menu {
      display: block;
    }
  }

  .header-nav {
    display: none;

    &__list {
      width: 100%;
      padding: 5rem 0 10rem;
      display: block;
      position: relative;
      order: 1;
      z-index: 999;
    }

    &__item {
      width: 100%;
      margin: 0;
    }

    &__link {
      display: block;
      padding: 1.188rem;
      text-align: center;
      box-sizing: border-box;
    }
  }

  .header-social {
    justify-content: center;
  }
}
