@media (max-width: 1199px) {
  .main-list {
    margin: 2.8rem 0 0;
  }

  .main-item {
    &__icon {
      max-width: 8.125rem;
    }

    &__title {
      margin: 1.2rem 0 0;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    &__p {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
}


@media (max-width: 991px) {
  .main {
    &__title {
      margin: 0 0 1.25rem;
    }
  }

  .main-list {
    max-width: 47.5rem;
    margin: 3.125rem auto 0;
    grid-gap: 3.125rem;
    grid-template-columns: 1fr 1fr;
  }

  .main-item {
    &__icon {
      max-width: 10rem;
    }

    &__title {
      font-size: 1.625rem;
      line-height: 2.25rem;
      text-align: center;
    }

    &__p {
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }
}


@media (max-width: 590px) {
  .main {
    padding: 3.75rem 0;

    .btn {
      min-width: 100%;
      padding: 1.125rem 1.25rem;
    }
  }

  .main-list {
    grid-template-columns: 1fr;
  }
}
