.popup#popup
  .popup__cont
    button.btn-close
    span.popup__title Преимущества G-SYNC
    form.popup__form
      .popup__input-wrapper
        input.input(type='text' name='name' placeholder='Имя' required)
        input.input.phone-input(type='email' name='email' placeholder='Mail' required)
      button.btn Купить

  .popup-bg